*{
  padding: 0px;
  margin: 0px;
}
body{
  background-image: url('./images/bg-cafe.jpg');
  background-repeat: no-repeat;
  height: 280px;
  background-color: #000;
  font-family: 'DM Sans', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;;
}

